<?xml version='1.0' encoding='utf-8'?>
<plugin id="me.rahul.plugins.iRatePlugin"
        version="1.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    
    
    <name>iRatePlugin</name>
    
    <description>Cordova Plugin for iOS app list</description>
    
    <js-module name="iRatePlugin" src="www/iRatePlugin.js">
        <clobbers target="cordova.iRatePlugin" />
    </js-module>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="iRatePlugin">
                <param name="ios-package" value="iRatePlugin" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/iRatePlugin.h" />
        <source-file src="src/ios/iRatePlugin.m" />
    </platform>
</plugin>